*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

main{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;

}

.esquerda{
    width: 100%;
    height: 100%;
}

.containerEndereco{
    display: flex;
    width: 100%;
    height: 40vh;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 10vh;
}

.containderRedeSocial{
    display: flex;
    width: 100%;
    height: 40vh;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 10vh;
}

.icone{
    width: 30px;
    height: 30px;
    border-radius: 80%;
    margin: 10px;
}

.direita{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.btn{
    width: 15%;
}

.mb-3{
    width: 75%;
}

.ctnrfoot {
    text-align: center;
    margin-left: 20%;


}
